main {
    width: 60%;
    min-height: 85vh;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;
    flex: 1 1 80%;
    background-color: rgb(244, 251, 163);
    border-right: 1px solid black;
    border-left: 1px solid black;
}