<header>
    <h2><a routerLink="/home">CarShop</a></h2>
    <nav>
            <ul *ngIf="isloggedIn">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/catalog">Catalog</a></li>
                <li><a routerLink="/addCar">Add Car Offer</a></li>
                <li (click)="logout()"><a href="#">Logout</a></li>
            </ul>

            <ul *ngIf="!isloggedIn">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/catalog">Catalog</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ul>
        
    </nav>
</header>