header {
    padding: 0.5rem;
    background-color: cadetblue;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav {
    padding-right: 10rem;
    margin-left: auto;
}
header nav ul {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    display: block;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(121, 59, 179);
}
header nav ul li:hover {
    background-color: rgb(100, 1, 100);
    cursor: pointer;
}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
}
header h2 {
    margin-left: 15rem;
    font-size: 2.5rem;
    align-self: center;
}
header h2 a{
    text-decoration: none;
}
